/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
}

:root {
    --text-color-white: #ffffff;
    --menu-links-color: #444444;
    --text-main-color: #836243;
}

@font-face {
    font-family: 'Stara';
    src: url('/fonts/Stara-Black.ttf') format('truetype'),
         url('/fonts/Stara-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Stara';
    src: url('/fonts/Stara-BlackItalic.ttf') format('truetype'),
         url('/fonts/Stara-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Stara';
    src: url('/fonts/Stara-Bold.ttf') format('truetype'),
         url('/fonts/Stara-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Stara';
    src: url('/fonts/Stara-BoldItalic.ttf') format('truetype'),
         url('/fonts/Stara-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Stara';
    src: url('/fonts/Stara-ExtraBold.ttf') format('truetype'),
         url('/fonts/Stara-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Stara';
    src: url('/fonts/Stara-ExtraBoldItalic.ttf') format('truetype'),
         url('/fonts/Stara-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Stara';
    src: url('/fonts/Stara-Medium.ttf') format('truetype'),
         url('/fonts/Stara-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Stara';
    src: url('/fonts/Stara-MediumItalic.ttf') format('truetype'),
         url('/fonts/Stara-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Stara';
    src: url('/fonts/Stara-SemiBold.ttf') format('truetype'),
         url('/fonts/Stara-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Stara';
    src: url('/fonts/Stara-SemiBoldItalic.ttf') format('truetype'),
         url('/fonts/Stara-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}


.logo img {
    height: 50px;
    width: auto;
    border-radius: 50%; /* Arredonda a imagem para criar um efeito circular */
}


body {
    font-family: 'Arial', sans-serif;
    color: #fff;
    background-color: #9da292;
    font-family: 'Stara', sans-serif;
}


.header-container {
    width: 100%;
    height: 4.5rem;
    display: flex;
    color: var(--text-color-white);
    background: var(--gradiente-capa, linear-gradient(90deg, #C3C0AD 8.59%, #CCCEC1 30.64%, #C5C6B4 55.01%, #B0A891 91.25%));
}

.header-content {
    display: flex;
    max-width: 100%;
    width: 1320px;
    padding: 0px 3.125rem;
    margin: 0 auto;
    height: 4.5rem;
    justify-content: space-between;
    align-items: center;
    
}

.menu ul {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    color: var(--text-color-white);
}

.menu ul li a {
    color: var(--menu-links-color);
    font-size: 1rem;
    font-weight: 500;
    
}


/* Top Navigation */
.top-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #333;
    padding: 0.5rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo img {
   display: flex;
    align-items: center;
}

.header-content .instagram-button {
    background-color: none;
    border: 1px solid var(--menu-links-color);
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    
    
}

.header-content .instagram-button a {
    color: var(--menu-links-color);
    font-size: 0.875rem;
}
.banner-text img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Hero Banner */
.hero-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--gradiente-capa, linear-gradient(90deg, #C3C0AD 8.59%, #CCCEC1 30.64%, #C5C6B4 55.01%, #B0A891 91.25%));
    max-width: 100%;    
    color: #333;
}

.header-content {
    width: 1320px;
   
    padding: 0 3.125rem;

}

.hero-banner .banner-content {
    background: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 0.625rem;
}



.hero-content {
    display: flex;
    justify-content: space-between;
    width: 1320px;
    padding: 3rem 3.125rem;
}

.banner-logo-branca {
    place-self: end;
    padding-bottom: 3rem;
}

/* Differential */

.differential-container {
    width: 100%;
    margin: 0 auto;
    background: var(--gradiente-capa, linear-gradient(90deg, #C3C0AD 8.59%, #CCCEC1 30.64%, #C5C6B4 55.01%, #B0A891 91.25%));
}

.differential-content {
    max-width: 1320px;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    gap: 1.5rem;
    padding: 2rem 4.5rem;
}

.differential-content img {
    width: auto;
    height: auto;
    object-fit: contain;
}

.products-conteiner {
    max-width: 100%;
    margin: 0 auto;
    background-color: #CFCCB8;

}

.product-content {
    max-width: 1320px;
    margin: 0 auto;
    padding: 7.75rem 3.125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 6rem;

}

.product-content h2 {
    font-weight: 500;
    line-height: 110%;
    font-size: 3rem;
    color: var(--text-main-color);
    margin-bottom: 1.5rem;
    text-align: center;
    max-width: 703px;
}

.all-cards {
    display: flex;
}

.card {
    max-width: 229px;
    color: var(--text-main-color);
    margin-right: -1px;
}


.card-title {
    border: 1px solid var(--text-main-color);
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 1rem;
}

.card-title p {
    font-size: 1.25rem;
    font-weight: 500;
}

.card-item {
    border: 1px solid var(--text-main-color);
    margin-top: -1px;
    height: 218px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0.6875rem;
}

.photos-container {
    width: 100%;
    margin: 0 auto;
    background-color: #B9B6A1;
}

.photos-content {
    max-width: 1320px;
    
    margin: 0 auto;
    padding: 7.75rem 3.125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 6rem;
}

.photos-content h2 {
    font-size: 3rem;
    color: var(--text-main-color);
    font-weight: 500;
}

.photos-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 1400px;
    max-height: 100%;
    gap: 1.25rem;
}

.photo {
    position: relative; 
    
}

.photo img {
    width: 523px;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.group-1 {
    place-self: start;
}

.group-2 {
    place-self: end;
}

.photo-text {
    position: absolute;
    display: flex;
    justify-content: center;
    transform: translate(5%, 5%);
    padding: 1.5rem 0px;
    bottom: 8%;
    width: 90%;
    background: rgba(255, 255, 255, 0.60);
    backdrop-filter: blur(12px);
    z-index: 1;
}

.photo-text p {
    color: var(--text-main-color);
    font-size: 1.5rem;
    z-index: 1;
}




@media screen and (max-width: 930px) {

    .all-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 100%;
    }

    .card {
        max-width: 100%;
        margin-bottom: -1px;
    }

    .card-title p {
        width: 100%;
    }
    
    .card-item {
        width: 100%;
    }

    .photos-group {
    
        justify-content: center;
        flex-direction: column;
        
    }

    .group-1 {
        place-self: center;
    }
    
    .group-2 {
        place-self: center;
    }

    .photos-group {
        height: 100%;
    }
   
}

@media screen and (max-width: 890px) {

    .acessorios-logo img {
        height: 300px;
    }

    .banner-logo-branca img {
        height: 56px;
    }

}

@media screen and (max-width: 768px) {

    .menu {
        display: none;
    }

    .differential-content img {
        width: 130px;
        height: auto;
        object-fit: contain;
    }

}

@media screen and (max-width: 530px) {

    .differential-content {
        
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        
        gap: 1.5rem;
        padding: 1rem 1rem;
    }

    .differential-content img {
        width: auto;
        height: auto;
        object-fit: cover;
    }

}

@media screen and (max-width: 500px) {
    
    .header-content {
        padding: 0 1rem;
    }

    .hero-content {
        padding: 3rem 1rem;
        min-height: 400px;
    }

    .acessorios-logo img {
        height: 156px;
    }

    .banner-logo-branca img {
        height: 32px;
    }

    .hero-banner {
        min-height: 400px;
    }

    .product-content {
        padding: 3rem 1rem;
        gap: 2.5rem;
    }

    .photos-content {
        max-width: 1320px;
        
        margin: 0 auto;
        padding: 7.75rem 3.125rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        gap: 6rem;
    }
    

    .product-content h2 {
        font-size: 1.5rem;
    }

    .photos-content {
        padding: 3rem 1rem;
        gap: 3rem;
    }
    
    .photos-content h2 {
        font-size: 1.5rem;
    }

    .differential-content {
        padding-bottom: 3rem;
    }

}

@media screen and (max-width: 400px) {

    .hero-content {
       align-items: start;

    }

    .hero-content {
        padding: 1rem 1rem;
        min-height: 350px;
    }

    .hero-banner {
        min-height: 350px;
    }

    .banner-text  {
        place-self: center;
    }

    .photo-text p {
        font-size: 1rem;
    }

}



/* Estilos para a imagem da mão segurando o celular */
.hand-phone-container {
    position: relative;
    display: inline-block;
    text-align: center;
    margin-top: 2rem;
}

.hand-phone {
    width: 100%;
    max-width: 400px; /* Ajuste conforme o tamanho da imagem */
    height: auto;
    border-radius: 10px;
}

/* Estilos para a imagem da mão segurando o celular como botão */
.whatsapp-button {
    position: fixed;
    bottom: 20px; /* Ajuste a distância do fundo da tela */
    right: 20px; /* Fixa a imagem à direita */
    width: 120px; /* Ajuste o tamanho da imagem */
    height: auto;
    z-index: 1000; /* Garante que fique sobre outros elementos */
}

.whatsapp-button img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
}

.whatsapp-button:hover img {
    opacity: 0.9; /* Efeito de hover */
}
/* Estilos para o logo da empresa no footer */
.developer-logo {
    display: inline-block;
    margin-top: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.developer-logo-img {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: auto;
}

.developer-logo:hover {
    transform: scale(1.1); /* Efeito de aumento ao passar o mouse */
}

.developer-logo-img:hover {
    opacity: 0.8; /* Efeito visual ao passar o mouse na imagem */
}

